@inherits LayoutComponentBase

<PageTitle>URLShortener</PageTitle>

<div class="page">
    <main>
        <h1>URL Shortener</h1>

        <article class="content px-4 align-content-center">
            @Body
        </article>
    </main>
</div>
